In [1]:
import pandas as pd

In [4]:
data = pd.read_csv("data/Car data/car.data",names = \
                   ['buying',"maint","doors","persons","lug","safety","class"])
data.head()

  buying  maint doors persons    lug safety  class
0  vhigh  vhigh     2       2  small    low  unacc
1  vhigh  vhigh     2       2  small    med  unacc
2  vhigh  vhigh     2       2  small   high  unacc
3  vhigh  vhigh     2       2    med    low  unacc
4  vhigh  vhigh     2       2    med    med  unacc

In [6]:
data.dtypes

buying     object
maint      object
doors      object
persons    object
lug        object
safety     object
class      object
dtype: object

In [7]:
x = data.drop("class",axis=1)
y = data['class']

In [8]:
y.value_counts()

unacc    1210
acc       384
good       69
vgood      65
Name: class, dtype: int64

In [11]:
y[(y=='good') | (y=='vgood')] = "acc"
y.value_counts()

unacc    1210
acc       518
Name: class, dtype: int64

In [12]:
y.apply(lambda x:1 if x=="unacc" else 0)

0       1
1       1
2       1
3       1
4       1
       ..
1723    0
1724    0
1725    1
1726    0
1727    0
Name: class, Length: 1728, dtype: int64

In [13]:
# Don't run this cell multiple times
y = y.apply(lambda x:1 if x=="unacc" else 0)
y

0       1
1       1
2       1
3       1
4       1
       ..
1723    0
1724    0
1725    1
1726    0
1727    0
Name: class, Length: 1728, dtype: int64

In [14]:
y.value_counts()

1    1210
0     518
Name: class, dtype: int64

In [15]:
x

     buying  maint  doors persons    lug safety
0     vhigh  vhigh      2       2  small    low
1     vhigh  vhigh      2       2  small    med
2     vhigh  vhigh      2       2  small   high
3     vhigh  vhigh      2       2    med    low
4     vhigh  vhigh      2       2    med    med
...     ...    ...    ...     ...    ...    ...
1723    low    low  5more    more    med    med
1724    low    low  5more    more    med   high
1725    low    low  5more    more    big    low
1726    low    low  5more    more    big    med
1727    low    low  5more    more    big   high

[1728 rows x 6 columns]

In [16]:
x1 = pd.get_dummies(x)
x1

,buying_high,buying_low,buying_med,buying_vhigh,maint_high,maint_low,maint_med,maint_vhigh,doors_2,doors_3,...,doors_5more,persons_2,persons_4,persons_more,lug_big,lug_med,lug_small,safety_high,safety_low,safety_med
0,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,1,0
1,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,0,1,0,0,1
2,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,0,1,1,0,0
3,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
4,0,0,0,1,0,0,0,1,1,0,...,0,1,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1723,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,0,0,1
1724,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,0,1,0,1,0,0
1725,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,0,0,1,0
1726,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,0,0,0,1
1727,0,1,0,0,0,1,0,0,0,0,...,1,0,0,1,1,0,0,1,0,0

In [18]:
x.nunique().sum()

21

In [21]:
x2 = x.copy()
from sklearn.preprocessing import LabelEncoder
LR = LabelEncoder()
for col in x.columns:
    x2[col]=LR.fit_transform(x[col])
x2

      buying  maint  doors  persons  lug  safety
0          3      3      0        0    2       1
1          3      3      0        0    2       2
2          3      3      0        0    2       0
3          3      3      0        0    1       1
4          3      3      0        0    1       2
...      ...    ...    ...      ...  ...     ...
1723       1      1      3        2    1       2
1724       1      1      3        2    1       0
1725       1      1      3        2    0       1
1726       1      1      3        2    0       2
1727       1      1      3        2    0       0

[1728 rows x 6 columns]

In [22]:
y1 = data['class']
y1[(y1=='good') | (y1=='vgood')] = "acc"
y1

0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1723      acc
1724      acc
1725    unacc
1726      acc
1727      acc
Name: class, Length: 1728, dtype: object

x - categorical values<br>
x1 - dummy columns with 0 and 1<br>
x2 - encoded values<br>
y - 0 and 1<br>
y1 - acc and unacc<br>

In [38]:
# x,y1
from sklearn.naive_bayes import MultinomialNB
mb = MultinomialNB()
mb.fit(x2,y)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [39]:
mb.predict(x2.iloc[1:2,])

array([1], dtype=int64)

In [40]:
mb.predict(x2)

array([1, 1, 1, ..., 0, 1, 0], dtype=int64)

In [41]:
y1

0       unacc
1       unacc
2       unacc
3       unacc
4       unacc
        ...
1723      acc
1724      acc
1725    unacc
1726      acc
1727      acc
Name: class, Length: 1728, dtype: object

In [44]:
from sklearn.metrics import accuracy_score
accuracy_score(y,mb.predict(x2))

0.7204861111111112

In [46]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y,mb.predict(x2))

array([[  73,  445],
       [  38, 1172]], dtype=int64)

In [47]:
from sklearn.metrics import precision_score
precision_score(y,mb.predict(x2))

0.7247990105132962

In [48]:
from sklearn.metrics import f1_score
f1_score(y,mb.predict(x2))

0.8291475061903077

In [49]:
from sklearn.naive_bayes import BernoulliNB
mb = BernoulliNB()
mb.fit(x1,y)

BernoulliNB(alpha=1.0, binarize=0.0, class_prior=None, fit_prior=True)

In [50]:
f1_score(y,mb.predict(x1))

0.9647558386411891